<div id="<%= dom_id candidate %>">
  <p>
    <strong>Full name:</strong>
    <%= candidate.full_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= candidate.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= candidate.age %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= candidate.speciality %>
  </p>

  <p>
    <strong>Work experience:</strong>
    <%= candidate.work_experience %>
  </p>

</div>
